<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="application/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/tabs.css">
</head>
<body>
    <div id="vuediv" class="container">
        <div class="tab">
            <button class="tablinks" >Map</button>
            <button class="tablinks" >Personnel</button>
            <button class="tablinks" >Targets</button>
            <button class="tablinks" >Equipment</button>
            <button class="tablinks" >Missions</button>
            <button class="tablinks" >Registry</button>
            <button class="tablinks" >Requests</button>
            <button class="tablinks" >Logout</button>
        </div>
        <table>
            <col width="80%">
            <col width="20%">
            <tr>
                <td>
                    <img src="pics/map.png" width="100%">
                </td>
                <td>
                    <div>Statistics</div>
                    <div>{{map.name}}</div>
                    Parent: <input type="button" v-if="map.parentId != null"
                           :value="map.parentName" @click="load(map.parentId)">
                    <div>Danger: {{map.danger}}</div>
                    <input type="button" :value="'Population(' + map.population + ')'">
                    <input type="button" :value="'Agents(' + map.cops + ')'">
                    <div>Units</div>
                    <input type="button" v-for="unit in map.units" :value="unit.second" @click="load(unit.first)">
                </td>
            </tr>
        </table>

    </div>
    <script type="application/javascript" src="map.js"></script>
</body>
</html>